

<div class="content-scroll">
   <div class="img-hdr-ctnr"><img ng-src="images/profile.jpg"></div>
    <div class="right-image"><img ng-src="images/pic5.jpg"></div>
    <div class="words-ctnr">
        <div class="encloser">
        <div class="header">About</div>
            <p class="para">"Lorem ipsum dolor sit amet,
                tempor incididunt ut
                labore et dolore magna <span class="ctxt">tempor</span>aliqua."
            </p>

        <p class="para">"Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore <span class="ctxt">magna</span> aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
            aboris nisi ut aliquip ex ea <span class="ctxt">commodo</span> consequat. Duis aute irure dolor in
             cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur<span class="ctxt">reprehenderi</span> sint occaecat cupidatat non proident dsad."
        </p>
        <p class="para">"Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna <span class="ctxt">eiusmod</span>aliqua."
        </p>
        </div>
    </div>
    <!--<div class="words-ctnr-2">
        <div class="encloser">
            <div class="header">Facebook</div>
            <div class="header">Instagram</div>

            <div class="header">Twitter</div>

        </div>
    </div>-->
</div>

