.foot{
  *{
    padding:0px;
    margin:0px;
  }

  width:100%;
  position:absolute;
  bottom:0;
  .header{
    font-size: 20px;
    display:inline;
  }
  .main{
    float:right;
    display:inline-block;
    .mainclick{
      display:inline-block;
    }
  }



}